// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.session_new {
  text-align: left;
}

.session_form {
  
  margin-left: 50%;
  text-align: left;
}
